body {
    margin: 20px;
}

.block-example {
    display: block;
    border: 2px solid;
    padding: 10px;
    margin-bottom: 10px;
}

.inline-example {
    display: inline;
    border: 2px solid;
    padding: 5px;
    margin-right: 10px;
}

.inline-block-example {
    display: inline-block;
    border: 2px solid;
    padding: 10px;
    margin-right: 10px;
}
